<div class="container">
  <div class="brand-container">
    <a [routerLink]="['/']" class="brand"> HotelBooking<span>.Ltd</span> </a>
  </div>
  <span style="flex: 1 1 auto"></span>
  <div class="link-container">
    <span
      ><a
        [routerLink]="'/hotels'"
        [routerLinkActive]="'active'"
        class="mat-shadow"
        >Hotels</a
      ></span
    >
    <span *ngIf="!authData"
      ><a
        [routerLink]="['/auth/login']"
        [routerLinkActive]="'active'"
        class="mat-shadow"
        >Get Started</a
      ></span
    >
    <!-- <span *ngIf="!authData"
      ><a
        [routerLink]="['/auth/register']"
        [routerLinkActive]="'active'"
        class="mat-shadow"
        >Register</a
      ></span
    > -->
    <span
      ><a *ngIf="authData" (click)="logout()" class="mat-shadow"
        >Logout</a
      ></span
    >
  </div>
</div>
