.container {
  width: 100%;
  display: flex;
  position: sticky;
  top: 0;
  background-color: #0d1a2e;
  border-bottom: 1px solid rgba(12, 1, 1, 0.219);
  backdrop-filter: blur(3px);
  z-index: 999;
}
.brand {
  font-size: 25px;
  padding: 10px;
  margin: 5px 5px 5px 15px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
.brand > span {
  color: var(--blue);
}
.brand-container,
.link-container {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.link-container a {
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 5px 10px;
  margin-right: 10px;
  border: 1px solid white;
  border-radius: 5px;
}
.link-container a:hover,
.active {
  background-color: white;
  color: black !important;
}
