.container {
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}
.intro {
  font-family: sans-serif;
  text-align: center;
  font-size: 1.2rem;
}
.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}
.input-border {
  border: 1px solid var(--blue);
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
}
.password {
  display: flex;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.password > input {
  flex: 1;
  padding: 12px;
  border-bottom-left-radius: 12px;
  background: none;
  border: transparent;
  outline: none !important;
  resize: none;
}
.email {
  padding: 12px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: none;
}
.sub {
  text-align: center;
  font-size: 16px;
  padding: 0;
}

.error {
  padding-bottom: 0;
}
