.container {
  max-width: 1366px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 300px;
  padding: 0 10px;
}
.img-container {
  padding: 10px;
}
.img-preview-container > img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.img-list {
  display: flex;
  justify-content: center;
}
.img-list > img {
  width: 100px;
  height: 100px;
  cursor: pointer;
  margin: 5px;
  border-radius: 5px;
  object-fit: cover;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.img-list > img:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.img-list > .unblur {
  filter: none;
}
.description {
  white-space: pre-line;
}
.categories {
  margin: 10px;
}
.categories > div {
  border: 1px solid var(--blue);
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.categories > div:hover,
.selected-category {
  cursor: pointer;
  background-color: var(--blue-dark);
  color: white;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.categories > div:hover > span,
.selected-category > span {
  color: white;
}
.categories > div > p {
  margin: 5px;
}
.categories > div > h3 {
  margin: 5px;
}
.categories > div > span {
  color: var(--blue);
  font-size: 20px;
}
.details,
.purchase {
  display: flex;
  flex-direction: column;
  margin-inline: 5px;
  margin-top: 20px;
  color: #111111;
  border: 1px solid var(--blue);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.details > p {
  text-align: left;
  font-size: 24px;
  margin: 10px 0;
}
.details > .title {
  font-size: 28px;
  color: var(--blue);
  margin: 0;
}
.details > p > a {
  text-decoration: underline;
  color: var(--blue);
}
.ratings {
  margin-bottom: 20px;
}
.rating {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.rating > p {
  text-align: start;
  font-size: 19px;
  margin-top: 0;
}
.rating > span {
  font-size: 24px;
}
.stars {
  display: flex;
  width: 100px;
}
.star {
  color: var(--blue);
}
.star.fill {
  fill: currentColor;
}
.rate {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.rate > form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.rate > form > textarea {
  width: 100%;
  max-width: 100%;
  border: 1px solid var(--blue);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  font-family: inherit;
  font-size: 18px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: vertical;
}
.spacer {
  height: 20px;
}
.btn {
  border: 1px solid var(--blue);
  padding: 7px 5px;
  border-radius: 5px;
  background-color: var(--blue);
  color: white;
  cursor: pointer;
  width: max-content;
  margin-right: 5px;
}
.danger {
  background-color: crimson !important;
  border: crimson;
}
@media (max-width: 700px) {
  .container {
    grid-template-columns: auto;
    width: 100%;
    padding: 0;
  }
  .categories {
    margin: 0;
  }
  .purchase {
    margin-top: 0;
  }
  .details,
  .purchase {
    padding: 14px;
  }
  .img-container {
    padding: 10px;
  }
  .img-preview-container > img {
    width: 100%;
    height: 300px;
  }
  .img-list > img {
    height: 50px;
    width: 50px;
  }
}
