<div class="container">
  <div class="img-container">
    <div class="img-preview-container">
      <img
        src="https://images.pexels.com/photos/1454806/pexels-photo-1454806.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="main-image"
      />
    </div>
    <div class="img-list">
      <img
        src="https://images.pexels.com/photos/1454806/pexels-photo-1454806.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="main-image"
      />
      <img
        src="https://images.pexels.com/photos/1454806/pexels-photo-1454806.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="main-image"
      />
      <img
        src="https://images.pexels.com/photos/1454806/pexels-photo-1454806.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="main-image"
      />
    </div>
  </div>
  <div class="categories">
    <div>
      <h3>Economy</h3>
      <span>1000 Taka</span>
      <p>Lorem ipsum dolor sit amet</p>
    </div>
    <div class="selected-category">
      <h3>Standard</h3>
      <span>2000 Taka</span>
      <p>Lorem ipsum dolor sit amet</p>
    </div>
    <div>
      <h3>Luxery</h3>
      <span>3000 Taka</span>
      <p>Lorem ipsum dolor sit amet</p>
    </div>
  </div>
  <div class="details">
    <p class="title">{{ hotel?.title }}, {{ hotel?.location }}</p>
    <p>See location on <a [href]="hotel?.locationOnMap">Google Maps</a></p>
    <p>
      Contact:
      <a href="tel:{{ '0' + hotel?.phone }}">{{ "0" + hotel?.phone }}</a>
    </p>
    <p class="description">
      {{ hotel?.description }}
    </p>
  </div>
</div>
