<div class="container">
  <div>
    <span class="title">Add Hotel Details</span>
    <hr />
  </div>
  <form (ngSubmit)="addHotel(f)" #f="ngForm">
    <input
      type="text"
      name="title"
      id="title"
      placeholder="Hotel Name"
      ngModel
      required
    />
    <select
      type="text"
      name="location"
      id="location"
      placeholder="Location"
      required
      [ngModel]="locations[0].name"
    >
      <option *ngFor="let location of locations" [value]="location.name">
        {{ location.name }} ({{ location.bn_name }})
      </option>
    </select>
    <input type="number" name="phone" id="phone" placeholder="Phone" ngModel />
    <input type="email" name="email" id="email" placeholder="Email" ngModel />
    <input
      type="text"
      name="locationOnMap"
      id="locationOnMap"
      placeholder="Google Maps Link"
      ngModel
      required
    />

    <button class="btn" type="submit" [disabled]="isLoading || f.invalid">
      <span *ngIf="!isLoading">Save</span>
      <span *ngIf="isLoading">Saving...</span>
    </button>
  </form>
</div>
