<div class="container">
  <div class="hero">
    <div class="intro">
      <p class="welc">Let's start</p>
      <p class="name">Your Journey!</p>
      <p class="desc">
        Find AFFORDABLE Hotels anywhere anytime with HotelBooking.Ltd
      </p>
      <p class="desc">সাশ্রয়ী মূল্যে হোটেল খোঁজার একমাত্র ঠিকানা</p>
    </div>
    <div class="card">
      <form class="search-form" (ngSubmit)="searchHotels()">
        <input
          type="text"
          name="location"
          id="location"
          placeholder="Where to?"
          [(ngModel)]="searchLocation"
          autocomplete="off"
          (keypress)="onKeyPress()"
          (keydown)="onKeyPress()"
          (focusout)="showLocations = false"
        />
        <div class="suggest" *ngIf="showLocations">
          <span
            *ngFor="let location of getLocations()"
            (click)="onLocationClick(location.name)"
            >{{ location.name }} ({{ location.bn_name }})</span
          >
        </div>
        <button type="submit">Search</button>
      </form>
    </div>
  </div>
  <p class="count" *ngIf="hotels.length > 0">
    We've found <span>{{ hotels.length }}</span> hotels for you.
  </p>
  <p class="count" *ngIf="hotels.length == 0">Hotels will appear here</p>
  <div class="hotel-list">
    <app-hotel-preview
      *ngFor="let hotel of hotels"
      [hotel]="hotel"
      [routerLink]="[hotel.id]"
    ></app-hotel-preview>
  </div>
</div>
