.container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  padding-top: 20px;
  margin: 0 auto;
  // overflow-y: auto;
}
.card {
  width: 100%;
  max-width: 800px;
}
.card .form {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 5px;
}
.search {
  padding: 10px;
  flex: 1;
  border: 1px brown solid;
  border-radius: 5px;
}
.search::placeholder {
  color: rgba(165, 42, 42, 0.486);
}
input[type="date"],
.date-label {
  padding: 10px;
  border: 1px brown solid;
  border-radius: 5px;
  color: brown;
  cursor: pointer;
}
.date-label {
  background-color: transparent;
  color: brown;
  user-select: none;
}
.btn {
  background-color: brown;
  color: wheat;
  cursor: pointer;
  border: 1px brown solid;
  border-radius: 5px;
  padding: 10px;
}
.hotel-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@media (max-width: 680px) {
  .card .form {
    flex-direction: column;
  }
}
