<div class="container">
  <div class="hero" (click)="showLocations = false">
    <div class="intro">
      <p class="welc">Let's start</p>
      <p class="name">Your Journey!</p>
      <p class="desc">সাশ্রয়ী মূল্যে আবাসিক হোটেলের একমাত্র ঠিকানা।</p>
    </div>
    <div class="card">
      <form class="search-form" (ngSubmit)="searchHotels()">
        <input
          type="text"
          name="location"
          id="location"
          placeholder="Where to?"
          [(ngModel)]="searchLocation"
          autocomplete="off"
          (keypress)="onKeyPress()"
          (keydown)="onKeyPress()"
        />
        <div class="suggest" *ngIf="showLocations">
          <span
            *ngFor="let location of getLocations()"
            (click)="onLocationClick(location)"
            >{{ location.name }} ({{ location.bn_name }})</span
          >
        </div>
        <button type="submit">Search</button>
      </form>
    </div>
  </div>
  <p class="count" *ngIf="hotels.length > 0">
    We've found <span>{{ hotels.length }}</span>
    {{ hotels.length > 1 ? "hotels" : "hotel" }} for you.
  </p>
  <p class="count" *ngIf="hotels.length == 0 && !isLoading">Search hotels...</p>
  <p class="count" *ngIf="isLoading">Please Wait...</p>
  <div class="hotel-list">
    <app-hotel-preview
      *ngFor="let hotel of hotels"
      [hotel]="hotel"
      (deleted)="removeHotel(hotel.id)"
      [isModifying]="isModifyingHotel"
      [canModifyHotel]="canModifyHotel"
    ></app-hotel-preview>
  </div>
  <footer>
    <div class="links">
      <a href="https://facebook.com/profile.php?id=61553471853718">Facebook</a>
      <a href="https://www.instagram.com/hotelbooking_bd_" class="bars"
        >Instagram</a
      >
      <a href="https://www.linkedin.com/company/hotelbooking-bd">LinkedIn</a>
    </div>
    <p>Copyright 2023 HotelBookingBD</p>
  </footer>
</div>
