.container {
  border: 1px solid brown;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 260px;
  cursor: pointer;
}
img {
  width: 100%;
  height: 240px;
  max-height: 250px;
  object-fit: cover;
}
.details {
  background-color: transparent;
  padding: 10px;
  display: flex;
  color: brown;
  font-weight: 600;
  font-size: 19px;
  border-bottom: 1px solid brown;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.container:hover .details {
  background-color: brown;
  color: wheat;
}
.details > * {
  display: inline-block;
}
